# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.conda/
.mplconfig/
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Data
data/
datasets/
Cityscapes/
cityscapes/
Anomaly_Validation_Datasets/
Validation_Dataset
*.zip
Miniconda3-*.sh

# Models / checkpoints
checkpoints/
weights/
trained_models/
*.pth
*.pt
*.ckpt
*.onnx

# Results
outputs/
runs/
wandb/
mlruns/
*.log

# Large numpy/cache files
*.npy
*.npz
*.pkl
*.pickle
*.pth.tar

*.bin
